
.IViaDel_overlay-popup {
    display:none;
    position:fixed;
    z-index: 999;
    top:0;
    right:0;
    left:0;
    bottom:0;
    background:#000;
    opacity:0.5;
}

.IViaDel_popup {
    display: none;
    top: 15vh !important;
    left: 5vw !important;
    position: fixed !important;
    overflow: initial !important;
    z-index: 1000;
    height: 70vh !important;
    width: 90vw !important;
    padding: 0;
}

.IViaDel_widget-close-btn {
    outline: none !important;
    width: 28px;
    height: 28px;
    padding: 0;
    color: #ffffff;
    position: absolute;
    top: -39px;
    right: 0px;
    background: transparent;
    padding: 5px;
    border: 2px solid #fff;
    border-radius: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.7;
    transition: 0.3s;
}

.IViaDel_widget-close-btn:hover {
    opacity: 1;
}

.IViaDel_widget-close-btn svg {
    width: 100%;
    height: 100%;
    cursor: pointer;
}
